<div class="nb-card details">
  <div class="nb-card-content">
    <!-- Nested Title Card -->
    <div class="nb-card nested-title-card">
      <div class="nb-card-content">
        <h2 class="nb-card-title">{{ scenarioTitle }}</h2>
      </div>
    </div>

    <!-- Nested Body Card -->
    <div class="nb-card nested-body-card">
      <div class="nb-card-content">
        <div class="scenario-details-body">
          <p class="nb-card-text">{{ scenarioDescription }}</p>
        </div>
        <div class="button-group">
          <button class="nb-button blue">Start Scenario</button>
          <button class="nb-button green">Start Quiz</button>
        </div>
      </div>
    </div>
  </div>
</div>