<nav class="nb-navbar" role="navigation" aria-label="Main navigation">
  <a routerLink="/" routerLinkActive="active" class="nb-navbar-brand" aria-label="Go to homepage"><img class="nb-card"
      width="80" height="80" src="images/IRLogo.png" /></a>
  <ul class="nb-navbar-nav" role="menubar">
    <li class="nb-navbar-item" role="none">
      <a routerLink="/" routerLinkActive="active" class="nb-navbar-link active" role="menuitem"
        aria-current="page">Home</a>
    </li>
    <li class="nb-navbar-item" role="none">
      <a routerLink="/sign-up" routerLinkActive="active" class="nb-navbar-link" role="menuitem">Sign Up</a>
    </li>
    <li class="nb-navbar-item" role="none">
      <a routerLink="/dashboard" routerLinkActive="active" class="nb-navbar-link" role="menuitem">Dashboard</a>
    </li>
  </ul>
</nav>
