.scenarios-container {
  margin: 20px;
  height: 100dvh;
}

.nb-card.scenarios {
  height: 100%;
}

.scenarios.nb-card:hover {
  transform: none;
  box-shadow: 8px 8px 0px #000;
}

.scenarios {
  background-color: yellow;
}

.scenario {
  background-color: white;
}
