.card-container {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nb-card:hover {
  transform: none;
}

.login-link {
  color: var(--accent-teal);
  text-decoration: underline;
}

.login-link:hover {
  color: var(--accent-orange);
}

.nb-card .nb-card-content .nb-card-actions {
  align-self: center;
}

.nb-input.blue {
  margin-top: 10px;
}

.input-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.error-message {
  color: var(--accent-orange);
  font-size: 0.8rem;
  font-weight: bold;
  margin-top: 5px;
  text-align: left;
}

/* Only highlight if the form has been submitted */
.submitted .nb-input.ng-invalid {
  border: 4px solid var(--accent-orange);
  box-shadow: 4px 4px 0px var(--accent-orange);
}

.submitted .nb-input.ng-valid {
  border-color: var(--accent-teal);
  box-shadow: 4px 4px 0px var(--accent-teal);
}

form {
  display: flex;
  flex-direction: column;
}

.nb-card-actions {
  display: flex;
  justify-content: center;
  width: 100%;
}