<app-navbar></app-navbar>
<div class="card-container">
  <div class="nb-card">
    <div class="nb-card-content">
      <h4 class="nb-card-title">{{ cardTitle }}</h4>
      <p class="nb-card-text">{{ cardText }}
        <a routerLink="/login" routerLinkActive="active" class="login-link">login</a>
      </p>
      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" [class.submitted]="submitted">
        <div class="input-group">
          <input id="email" formControlName="email" class="nb-input blue" placeholder="Email" type="email" />
          @if (submitted && registrationForm.get('email')?.errors) {
          <div class="error-message">
            @if (registrationForm.get('email')?.errors?.['required']) { <div id="email-req">Email is required</div> }
            @if (registrationForm.get('email')?.errors?.['email']) { <div id="email-format-req">Invalid email format</div> }
          </div>
          }
        </div>

        <div class="input-group">
          <input id="password" formControlName="password" class="nb-input blue" placeholder="Password"
            type="password" />
          @if (submitted && registrationForm.get('password')?.errors) {
          <div class="error-message">
            @if (registrationForm.get('password')?.errors?.['required']) { <div id="password-req">Password is required</div> }
            @if (registrationForm.get('password')?.errors?.['minlength']) { <div id="password-len-req">Password must be at least 12
              characters</div> }
            @if (registrationForm.get('password')?.errors?.['pattern']) { <div id="password-complexity-req">Password must contain uppercase,
              lowercase, number, and special character</div> }
          </div>
          }
        </div>

        <div class="nb-card-actions">
          <button class="nb-button blue" type="submit">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>
