<div class="card-container">
    <div class="nb-card">
        <div class="nb-card-content">
            @if (loginSuccess) {
            <div class="success-message">
                <h4 class="nb-card-title">Welcome back!</h4>
                <p>Login successful. Redirecting you now...</p>
            </div>
            } @else {
            <h4 class="nb-card-title">{{ cardTitle }}</h4>
            <p class="nb-card-text">{{ cardText }}
                <a routerLink="/register" routerLinkActive="active" class="register-link">register</a>
            </p>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" [class.submitted]="submitted">
                @if (loginError) {
                <div class="error-message global-error">
                    {{ loginError }}
                </div>
                }
                <div class="input-group">
                    <input id="username" formControlName="username" class="nb-input blue" placeholder="Username"
                        type="text" />
                    @if (submitted && loginForm.get('username')?.errors) {
                    <div class="error-message">
                        @if (loginForm.get('username')?.errors?.['required']) { <div id="username-req">Username is
                            required</div>
                        }
                    </div>
                    }
                </div>

                <div class="input-group">
                    <input id="password" formControlName="password" class="nb-input blue" placeholder="Password"
                        type="password" />
                    @if (submitted && loginForm.get('password')?.errors) {
                    <div class="error-message">
                        @if (loginForm.get('password')?.errors?.['required']) { <div id="password-req">Password is
                            required</div> }
                    </div>
                    }
                </div>

                <div class="nb-card-actions">
                    <button class="nb-button blue" type="submit">Login</button>
                </div>
            </form>
            }
        </div>
    </div>
</div>