.card-container {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nb-card:hover {
    transform: none;
    box-shadow: 8px 8px 0px #000;
}

.register-link {
    color: grey;
    text-decoration: underline;
}

.register-link:hover {
    color: blue;
}

.nb-card .nb-card-content .nb-card-actions {
    align-self: center;
}

.nb-input.blue {
    margin-top: 10px;
}

.input-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.error-message {
    color: #ff0000;
    font-size: 0.8rem;
    font-weight: bold;
    margin-top: 5px;
    text-align: left;
}

/* Only highlight if the form has been submitted */
.submitted .nb-input.ng-invalid {
    border: 4px solid #ff0000;
    box-shadow: 4px 4px 0px #ff0000;
}

.submitted .nb-input.ng-valid {
    border-color: black;
    box-shadow: 4px 4px 0px #000;
}

form {
    display: flex;
    flex-direction: column;
}

.nb-card-actions {
    display: flex;
    justify-content: center;
    width: 100%;
}