.hero-text {
  font-size: 2rem;
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
}

.body-content {
  display: flex;
  margin: 0px;
  padding: 0px;
  align-items: center;
  gap: 5%;
  justify-content: center;
}

.body-content-left {
  flex: 1;
  font-size: 1.75rem;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10%;
  justify-content: center;
}

img {
  flex: 1;
}

.image-wrapper {
  flex: 1;
  position: relative;
  height: 400px;
}

.image-wrapper img {
  object-fit: contain;
}

.nb-button.orange {
  font-size: 24px;
  width: max(200px, 50%);
  height: 100px;
  font-size: 2rem;
}
