<nav class="nb-navbar" role="navigation" aria-label="Main navigation">
  <a href="/" class="nb-navbar-brand" aria-label="Go to homepage"><img class="nb-card" width="80" height="80"
      src="images/IRLogo.png" /></a>
  <ul class="nb-navbar-nav" role="menubar">
    <li class="nb-navbar-item" role="none">
      <a href="/" class="nb-navbar-link active" role="menuitem" aria-current="page">Home</a>
    </li>
    <li class="nb-navbar-item" role="none">
      <a href="/sign-up" class="nb-navbar-link" role="menuitem">Sign Up</a>
    </li>
    <li class="nb-navbar-item" role="none">
      <a href="/dashboard" class="nb-navbar-link" role="menuitem">Dashboard</a>
    </li>
  </ul>
</nav>

<div class="hero-text">
  <h1>Incident Response Simulator</h1>
</div>

<div class="body-content">
  <div class="body-content-left">
    <h2>Compelling Marketing Copy blah blah blah</h2>
    <button class="nb-button orange">Let's Go!</button>
  </div>
  <img src="images/homepageArt.png" />
</div>
